In [1]:
import pandas as pd
import numpy as np

import json
from pprint import pprint
import matplotlib.pyplot as plt

import seaborn as sb

from sqlalchemy import create_engine

In [2]:
jsonfiles = ['bigrip.json', 'boulevard.json', 'breweryemperial.json',
            'calibration.json', 'CinderBlock.json', 'doubleshift.json',
            'kcbier.json', 'martincity.json',
            'strangedays.json', 'tornlabel.json', 'casualanimal.json',
            "stockyards.json", "cranebrewing.json",
            "border.json", "bks.json"]

Breweries = ["The Big Rip", "Boulevard", "Brewery Emperial",
            "Calibration", "Cinder Block", "Double Shift",
            "KC Bier", "Martin City",
            "Strange Days", "Torn Label", 'Casual Animal',
            "Stockyards", "Crane",
            "Border Brewing", "BKS"]

In [3]:
def JSONtoDataFrame(JSONFile, beername):
    # Open JSON Files
    with open(JSONFile) as f:
        data = json.load(f)

    # Converts data to DataFrame
    beerDF = pd.DataFrame(data[beername])
    # beerDF.head(10)

    return beerDF

In [4]:
# Goes Through DataFrame and Removes Beers not Brewed by Company
def RemoveWrongBeers(beerDF, beername):
    for index, row in beerDF.iterrows():
        if not row['name'].startswith(beername):
            beerDF = beerDF.drop([index])
        else:
            #print('next')
            continue
    return beerDF

In [5]:
beer_df = JSONtoDataFrame(jsonfiles[0], Breweries[0])
beer_df = RemoveWrongBeers(beer_df, Breweries[0])
beer_df.insert(0, "brewery", Breweries[0])

for x in range(len(Breweries) - 1):    
    b2 = JSONtoDataFrame(jsonfiles[x+1], Breweries[x+1])
    b2 = RemoveWrongBeers(b2, Breweries[x+1])
    b2.insert(0, "brewery", Breweries[x+1])
    beer_df = beer_df.append(b2)

beer_df.head()

,brewery,# of ratings,RateBeer ID,abv,calories,ibu,name,rating,score
0,The Big Rip,10 Ratings,224546,5.5%,165,31,The Big Rip 237 Milk Stout,55,3.31/5
1,The Big Rip,9 Ratings,212640,6.5%,195,20,The Big Rip Hathor's Sweet Brown Ale,-,3.07/5
2,The Big Rip,5 Ratings,240021,4.3%,129,-,The Big Rip Zelda's Vanilla Cream Ale,-,3.29/5
3,The Big Rip,4 Ratings,215848,5.1%,153,66,The Big Rip Boomstick Pale v.1,-,2.87/5
4,The Big Rip,4 Ratings,233985,5.0%,150,34,The Big Rip Mr. Fancy Pants English Pale,-,2.95/5

In [6]:
# engine = create_engine('sqlite:///my_lite_store.db')
# price.to_sql('stock_price', disk_engine, if_exists='append')

test = create_engine('sqlite:///beertest.db')
beer_df.to_sql('beerdata', test)
# engine.execute("SELECT * FROM beer").fetchall()

ValueError: Table 'beerdata' already exists.

In [7]:
df = pd.read_sql_query('SELECT * FROM beerdata LIMIT 3',test)
df.head()

,index,brewery,# of ratings,RateBeer ID,abv,calories,ibu,name,rating,score
0,0,The Big Rip,10 Ratings,224546,5.5%,165,31,The Big Rip 237 Milk Stout,55,3.31/5
1,1,The Big Rip,9 Ratings,212640,6.5%,195,20,The Big Rip Hathor's Sweet Brown Ale,-,3.07/5
2,2,The Big Rip,5 Ratings,240021,4.3%,129,-,The Big Rip Zelda's Vanilla Cream Ale,-,3.29/5

In [11]:
beer_df.head()

,brewery,# of ratings,RateBeer ID,abv,calories,ibu,name,rating,score
0,The Big Rip,10 Ratings,224546,5.5%,165,31,The Big Rip 237 Milk Stout,55,3.31/5
1,The Big Rip,9 Ratings,212640,6.5%,195,20,The Big Rip Hathor's Sweet Brown Ale,-,3.07/5
2,The Big Rip,5 Ratings,240021,4.3%,129,-,The Big Rip Zelda's Vanilla Cream Ale,-,3.29/5
3,The Big Rip,4 Ratings,215848,5.1%,153,66,The Big Rip Boomstick Pale v.1,-,2.87/5
4,The Big Rip,4 Ratings,233985,5.0%,150,34,The Big Rip Mr. Fancy Pants English Pale,-,2.95/5

In [14]:
beer_df.to_json("blah.js", orient='records')